.adminhomebox {
    width: 100px;
    height: 90px;
    background-color: rgb(112, 108, 108);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid grey;
    margin-top: 2rem;
   
}

.adminhome {
    margin-left: 4rem;
}


