.navbar {
    width: 100%;
    background-color: white;
  }
  
  .logo {
    padding: 10px;
    font-weight: bold;
  }
  
  .navlists {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  
  .listitems {
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .navaction {
    background-color: #FFA500;
    border: none;
    color: white;
    padding: 5px;
    font-weight: 600;
  }
  
  @media (max-width: 992px) {
    .navlists {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 1px;
    }
    .navaction {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media (min-width: 768px) {
    .navlists {
      display: flex;
    }
  }
  
  @media (max-width: 768px) {
  
    .navlists {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1px;
      }
      .navaction {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
    .navlists.open {
      transform: translateY(0);
    }
  }
  
  